name: Sync Fork

on:
  schedule:
    - cron: '0 */12 * * *' # every 12 hours
  workflow_dispatch: # on button click

jobs:
  sync:

    runs-on: ubuntu-latest

    steps:
      - uses: tgymnich/fork-sync@v1.8
        with:
          owner: DrKLO
          repo: Telegram
          base: master
          head: master
          auto_approve: true